body {

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 12fr 1fr;
    margin: 0;
    padding: 0;

}

header {

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    height: 5em;
    /* background-color: lightskyblue; */

}

#header {

    margin-left: calc(50% - 0.5em);
    margin-top: 0em;
    width: 3em;
    height: 3em;
    background-color: lightgreen;
    border-radius: 2em;
    transition: all 0.5s;
    
}

#header:hover {

    margin-top: 0em;
    margin-left: 5em;
    width: calc(100% - 10em);
    height: 3em;
    border-radius: 0em 0em 1em 1em;

}

.headerContent {

    height: 0.5em;
    transition: height 0.5s;
    visibility: hidden;

}

#header:hover .headerContent {

    height: 3em;
    transform: scale(0.8);
    border-radius: 2em;
    visibility: visible;
}

main {

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    /* background-color: gold; */
    margin: 0px 0px 3em 0px;
    padding: 0;
}

#leftSide {

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    /* background-color: peru; */

}

#rightSide {

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    /* background-color: lightpink; */

}

footer {

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

    width: 100%;
    height: 5em;

    /* background-color: lightsalmon; */

}